<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            margin: 50px;
            line-height: 1.6;
        }

        h2 {
            text-align: center;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 15px;
            text-align: justify;
        }

        .signature {
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <h2>{{ subject }}</h2>

    <p>{{ notice_text|linebreaks }}</p>

</body>
</html>
